name: Release

on:
  push:
    branches:
    - master

jobs: 
   new-release:
      runs-on: ubuntu-latest 
      steps: 
         - uses: actions/checkout@v3 # Checkout our working repository 
         - name: Changelog
           id: Changelog
           uses: scottbrenner/generate-changelog-action@master
           env:
              REPO: ${{ github.repository }}

         - name: Create Release
           id: create_release
           uses: actions/create-release@latest
           env:
             GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
           with:
            tag_name: ${{ github.ref }}
            release_name: Release ${{ github.ref }}
            body: |
              ${{ steps.Changelog.outputs.changelog }}
            draft: false
            prerelease: false
